<!DOCTYPE html>
<html ng-app="twdashboard">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scalable = no">
        
        
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
        
        
    </head>
    <body>
    
        <navbar></navbar>
        <ng-view></ng-view>
        <footer-custom></footer-custom>
        
        
        <script src="https://use.fontawesome.com/38986e3cdf.js"></script>
        <script src="scripts/libs/angular.min.js"></script>
        <script src="scripts/libs/angular-route.min.js"></script>
        <script src="scripts/libs/angular-animate.min.js"></script>
        <script src="scripts/libs/angular-sanitize.min.js"></script>
        <script src="scripts/libs/moment.js"></script>
        <script src="scripts/libs/angular-momentjs.min.js"></script>
        <script src="scripts/libs/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/services/appfactory.js"></script>
        
        <script src="scripts/controllers/connectController.js"></script>
        <script src="scripts/controllers/modalInstanceController.js"></script>
        <script src="scripts/controllers/footerController.js"></script>
        <script src="scripts/controllers/dashboardController.js"></script>
        <script src="scripts/controllers/navController.js"></script>
        
        <script src="scripts/directives/navbar.js"></script>
        <script src="scripts/directives/footer.js"></script>
        <script src="scripts/directives/color-topic.js"></script>
        
        
    </body>


</html>