
<section class="dashboard">
    <div class="loader" ng-if="showLoader == true">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" ></i>
        <h4>Fetching your timeline..</h4>
    </div>
    
    
    <div class="displayer" ng-if="showLoader == false">
        <h3>Fetched tweets starting from now till {{last_tweet_datetime}}</h3>
        <button class="btn btn-primary" ng-click="fetchOlder()">{{fetchMoreText}}</button>
        <table class="visual-info">
            <tbody>
                <tr ng-repeat="unit in units track by $index">
                    <td>{{getFormattedUnit(unit)}}</td>
                    <td ><span ng-repeat="(topic, volume) in getTopicThisUnit(unit, unitDuration)">{{topic}}</span></td>
                </tr>
            </tbody>
<!--
            <tfoot>
                <tr>
                    <td ng-repeat="unit in units track by $index">{{getFormattedUnit(unit)}}</td>
                </tr>
            </tfoot>
-->
            
        </table>
    </div>

</section>