body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.connect {
    min-height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard {
    min-height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    text-align: center;
}

.displayer {
    height: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
}

.visual-info {
    height:100%;
    width: 96%;
    border: 1px solid #181818;
    padding:5%;
    margin:2% auto 2% auto;
    text-align: left;
    
    tbody {
        max-width: 100%;
        
        td:nth-child(2n) {
            padding:20px;
            
            max-width: 90%;
            width: 90%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            div {
                min-width: 10%;
                height: 2%;
                margin: 1%;
                padding: 1%;
                cursor: pointer;
                white-space:initial;
                box-shadow: 1px 2px 2px #000;
            }
        }
        td:nth-child(2n-1) {
            
            min-width: 100px;
            padding:20px;
            border: 1px solid #181818;
        }
    
    }
    
}

ul {
    li{
        margin-bottom: 2%;
    }
}